################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Recipies.API/bin
/Recipies.API/obj/Debug
/Recipies.Objects/bin/Debug
/Recipies.Objects/obj/Debug
/Tester/bin/Debug
/Tester/obj/Debug
