<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RecipiesDbEntities" 
         connectionString="metadata=res://*/RecipeModel.csdl|res://*/RecipeModel.ssdl|res://*/RecipeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=RecipesDb;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <!--uncomment below for gearhost production-->
    <!--<add name="RecipiesDbEntities"
         connectionString="metadata=res://*/RecipeModel.csdl|res://*/RecipeModel.ssdl|res://*/RecipeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=den1.mssql7.gear.host;initial catalog=recipes3;persist security info=True;user id=recipes3;password=Us613u?xV!W2;multipleactiveresultsets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />-->
    <!--uncomment below for AWS production-->
    <!--<add name="RecipiesDbEntities"
         connectionString="metadata=res://*/RecipeModel.csdl|res://*/RecipeModel.ssdl|res://*/RecipeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=recipesdb.cf80fcprngls.us-east-2.rds.amazonaws.com;initial catalog=recipes;persist security info=True;user id=ashwin;password=Waterloo00!;multipleactiveresultsets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>